* {
    box-sizing: border-box;
}

html {
    font-family: 'Commissioner', sans-serif;
    font-size: 10px;
    height: 100vh;
}

body {
    margin: 0;
    font-size: 1.6rem;
    height: 100%;
}

/* Typography */
a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

header {
    background-image: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0 1em;
    z-index: 1;
}

/* navigation menu */
.nav-modal {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200vh;
    background-color: hsla(0, 0%, 0%, 0.473);
    z-index: -1;
    display: none;
}

nav {
    z-index: 1;
    position: relative;
    top: 1.9em;
}

header button {
    background: none;
    border: none;
    float: right;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 2.54em;
    right: .4em;
    background-color: hsl(0, 0%, 100%);
    padding-left: 0;
    border-radius: 10px;
    width: 95%;
    /* height: 175px; */
}

.dropdown-menu li {
    padding: 1.45em 1.2em;
    font-weight: 500;
    font-size: 1.7rem;
}

.dropdown-menu li:first-child,
.dropdown-menu li:nth-child(2) {
    border-bottom: 1px solid hsla(0, 0%, 48%, 0.233);
}

.close-menu {
    display: none;
}

.not-visible {
    visibility: collapse;
    height: 0;
}

.selected {
    border: 2px solid hsl(176, 72%, 28%);
}

.bold {
    font-weight: bold;
}

main {
    padding: 2em;
}

/* progress bar */
.progress-bar {
    background-color: hsl(0, 7%, 86%);
    width: 90%;
    height: 15px;
    border-radius: 20px;
}

/* current progress */
.progress-bar div {
    height: 100%;
    background-color: hsl(176, 50%, 47%);
    border-radius: 20px;
}

.close-modal-btn {
    float: right;
    background-color: hsl(0, 0%, 100%);
    border: none;
}

.modal-thankyou {
    z-index: 999;
    padding: 2em;
}

.modal-container,
.success-modal-container {
    background-color: hsla(0, 0%, 0%, 0.473);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    padding: 2em;
    height: 200vh;
}

/* .success-modal-container {
    display: block;
} */

.selection-modal {
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
}

.bookmark {
    cursor: pointer;
}