* {
    box-sizing: border-box;
}

html {
    font-family: 'Commissioner', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

header {
    background-image: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    position: relative;
}

/* navigation menu */
nav {
    float: right;
}

nav button {
    background: none;
    border: none;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 2em;
    right: 5em;
}

.close-menu {
    display: none;
}

.not-visible {
    visibility: collapse;
    height: 0;
}

.selected {
    border: 2px solid hsl(176, 72%, 28%);
}

.bold {
    font-weight: bold;
}