* {
    box-sizing: border-box;
}

html {
    font-family: 'Commissioner', sans-serif;
    font-size: 10px;
    height: 100vh;
}

body {
    margin: 0;
    font-size: 1.6rem;
    height: 100%;
}

/* Typography */

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

p {
    line-height: 1.6;
    color: hsl(0, 0%, 48%);
}

p span {
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    margin-right: .4em;
    font-size: 1.7rem;
}

header {
    background-image: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0 1em;
    z-index: 1;
}

/* navigation menu */
.nav-modal {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200vh;
    background-color: hsla(0, 0%, 0%, 0.473);
    z-index: -1;
    display: none;
}

nav {
    z-index: 1;
    position: relative;
    top: 1.9em;
}

header button {
    background: none;
    border: none;
    float: right;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 2.54em;
    right: .4em;
    background-color: hsl(0, 0%, 100%);
    padding-left: 0;
    border-radius: 10px;
    width: 95%;
    /* height: 175px; */
}

.dropdown-menu li {
    padding: 1.45em 1.2em;
    font-weight: 500;
    font-size: 1.7rem;
}

.dropdown-menu li:first-child,
.dropdown-menu li:nth-child(2) {
    border-bottom: 1px solid hsla(0, 0%, 48%, 0.233);
}

.close-menu {
    display: none;
}

.not-visible {
    /* visibility: collapse;
    height: 0; */
    display: none;
}

.selected {
    border: 2px solid hsl(176, 50%, 47%);
}

.bold {
    font-weight: 500;
}

main {
    padding: 2em;
}

/* progress bar */
.progress-bar {
    background-color: hsl(0, 7%, 86%);
    width: 90%;
    height: 15px;
    border-radius: 20px;
}

/* current progress */
.progress-bar div {
    height: 100%;
    background-color: hsl(176, 50%, 47%);
    border-radius: 20px;
}

.close-modal-btn {
    float: right;
    background-color: hsl(0, 0%, 100%);
    border: none;
}

.modal-thankyou {
    z-index: 999;
    padding: 2em;
}

.modal-container,
.success-modal-container {
    background-color: hsla(0, 0%, 0%, 0.473);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    padding: 1.2em;
    height: 200vh;
}

/* .success-modal-container {
    display: block;
} */

.selection-modal {
    position: relative;
    top: 5em;
    background-color: hsl(0, 0%, 100%);
    padding: 2em 1em;
    border-radius: 5px;
}

.bookmark {
    cursor: pointer;
}

/* pledge select */

fieldset {
    padding: 0;
    margin-bottom: 1.5em;
    border-radius: 5px;
    border: 1px solid hsla(0, 1%, 40%, 0.233);
}

.pledge-info {
    padding: 1.2em 1em .3em 1em;
}

.pledge-info div {
    display: flex;
    gap: .7em;
    align-items: center;
}

.pledge-amount {
    color: hsl(176, 50%, 47%);
    margin-top: .5em;
    display: block;
}

.pledge-info div+p {
    margin-top: 1.6em;
    margin-bottom: 1.4em;
}

.select-amount {
    border-top: 1px solid hsla(0, 0%, 48%, 0.233);
    padding: 1em;
}

/* form inputs */

input[type="radio"] {
    appearance: none;
    font: inherit;
    color: hsl(176, 50%, 47%);
    width: 24px;
    height: 24px;
    border: 1px solid hsla(0, 0%, 48%, 0.233);
    border-radius: 50%;
    /* transform: translateY(1em); */
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(176, 50%, 47%);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}